# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env/
.venv/

# Docker & logs
*.log

# OS files
.DS_Store
Thumbs.db

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.pdf
*.synctex.gz
*.fls
*.fdb_latexmk
